body {
  font-family: 'Computer Modern Serif', sans-serif;
  width: 95%;
  margin: auto;
}

a {
  color: inherit;
  border-bottom: 1px dotted black;
  text-decoration: none;
}

p {
  line-height: 150%;
}

.timeline {
  position:relative;
}


/*
.timeline::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0%;
  height: 100%;
  border-left: 4px solid black;
}
*/

.event {
  margin-left:15px;
  /* border-left: 1px dashed black; */
  padding-left: 5px;
  margin-bottom: 45px;
}

.year {
  font-family: 'Courier New', monospace;
}

.year:before {
  position:absolute;
  left: 0px;
  content: "â—";
}

/*
.event:before {
  position:absolute;
  left: 0px;
  height: 3px;
  background: #c00;
  content: "";
  width: 15px;
  display: block;
} */

.event > .year {
  margin-bottom: -15px;
}

h4 {
  margin-bottom: -15px;
}

footer {
  margin-top: -50px;
  height: 50px;
}

.footer-inner {
  font-family: "Microsoft YaHei", sans-serif;
  text-align: center;
  width: 700px;
  margin: auto;
  color: grey;
}

.bio {
  margin-top: 150px;
}

.bio, .journey, .contact {
  margin-bottom: 140px;
}

h4, h3 {
  font-family: 'Courier New', monospace;
  color: #d92e27;
}