body {
  font-family: "Computer Modern Serif", "Hiragino Sans GB", "Microsoft YaHei",  "WenQuanYi Micro Hei", sans-serif;
  width: 95%;
  margin: auto;
}

a {
  color: inherit;
  border-bottom: 1px dotted black;
  text-decoration: none;
}

.timeline {
  position:relative;
}

.timeline::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0%;
  height: 100%;
  border-left: 4px solid black;
}


.event {
  margin-left:15px;
  border-left: 1px dashed black;
  padding-left: 5px;
  margin-bottom: 30px;
}

.event:before {
  position:absolute;
  left: 0px;
  height: 3px;
  background: #c00;
  content: "";
  width: 15px;
  display: block;
}

.event > .year {
  margin-bottom: -15px;
}

h4 {
  margin-bottom: -15px;
}

footer {
  position: fixed; 
  bottom: 0px; 
  left: 0px; 
  right: 0px;
}

.footer-inner {
  font-family: "Microsoft YaHei", sans-serif;
  text-align: center;
  width: 700px;
  margin: auto;
  color: grey;
}

.bio, .journey, .contact {
  margin-bottom: 50px;
}

h4, h3 {
  font-family: "Helvetica";
}